/* SITEWIDE */
header {
    position: top;
    color: aqua;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    width: 100%;
    height:auto
}
.subHeader {
    width: min-content;
    height: min-content
}
.indexLink {
    text-align: left;
}
.webpageLinks {
    text-align: center;
    width: 175px
}
.externalLinks {
    text-align: right;
    width: 25px;
    height: 25px;
}
main {
    position: relative;
    float: left
}
a.nodecoration {
    text-decoration: none;
    color: black;
}
